.flatlist {
    display: grid;
    margin: auto;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

@media screen and (max-width: 940px) {
    .flatlist {
        grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (max-width: 620px) {
    .flatlist {
        grid-template-columns: 1fr;
    }
  }